* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background-color: #eee;
  }
  
  main {
    max-width: 720px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }
  

  
  .images {
    display: flex;
    justify-content: space-evenly;
    width: 700px;
    margin-right: 20px;
    flex-wrap: wrap;
  }
  
  .images img {
    flex: 1;
    height: auto;
    object-fit: scale-down;
    border-radius: 5px;
    margin-bottom: 10px;
    min-width: 100px;
    max-width: 310px;
  }
  
  video {
    flex: 1;
    height: auto;
    object-fit: scale-down;
    border-radius: 5px;
    margin-bottom: 10px;
    min-width: 100px;
    max-width: 310px;
  }
  
  .links {
    width: 200px;
    margin-left: 20px;
    text-align: left;
  }
  
  .links h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding-left: 1.25em;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  .links a {
    text-decoration: none;
    color: #31a;
  }
  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    li {
      display: inline-block;
      margin-left: 1rem;
    }
  
    a {
      text-decoration: none;
      color: var(--color-primary);
      font-weight: 600;
    }
  }
  .project-content {
    display: flex;
    align-items: center;
  }
  
  .project-content img {
    margin-right: 20px;
  }
  .text {
    white-space: pre-line;
  }