* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #eee;
  font-size: 17px;
  line-height: 1.3;
}

img{
  max-width: 100%;
}

p, li{
  margin: 10px 0;
}

.about_me_texts{
  margin-right: 25px;
  text-align: justify;
}

.about_me_texts p:nth-child(1)::first-letter {
  font-size: 30px;
}

.educationnawards{
  border-bottom: 1px dotted #222;
}

.container{
  max-width: 1165px;
  width: 100%;
  margin: auto;
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
}
.about_main{
  background-color: #fff;
  border-top: 1px solid #222;
  padding: 20px;
}

h1 {
  text-align: center;
}
h1.title{
  margin: 10px 0;
}
h1.title::before, h1.title::after {
  content: '~';
  margin: 5px;
}

.sm_detail * {
  margin: 10px 0;
}

.images {
  display: flex;
  justify-content: space-evenly;
  width: 700px;
  margin-right: 20px;
  flex-wrap: wrap;
}

.images img {
  flex: 1;
  height: auto;
  object-fit: scale-down;
  border-radius: 5px;
  margin-bottom: 10px;
  min-width: 100px;
  max-width: 310px;
}

video {
  flex: 1;
  height: auto;
  object-fit: scale-down;
  border-radius: 5px;
  margin-bottom: 10px;
  min-width: 100px;
  max-width: 310px;
}

.links {
  margin-top: 25px;
}

ul {
  list-style: none;
  padding-left: 1.25em;
}

li {
  margin-bottom: 5px;
}

.links a {
  text-decoration: none;
  color: #31a;
}

nav {
  ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  li {
      display: inline-block;
      margin-left: 1rem;
  }

  a {
      text-decoration: none;
      color: var(--color-primary);
      font-weight: 600;
  }
}

.project-content {
  display: flex;
  align-items: center;
}


/* Add this media query */
@media screen and (max-width: 720px) {
  main {
      max-width: 100%;
      padding: 10px;
  }

  .images {
      flex-direction: column;
      align-items: center;
  }

  .images img {
      margin-bottom: 20px;
  }

  .links {
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
  }

  .project-content {
      flex-direction: column;
      width: 100%;
  }

  .project-content img {
      margin-right: 0;
      margin-bottom: 20px;
  }
}


@media screen and (max-width: 550px) {
  .header_wrapper{
    display: block;
    text-align: center;
  }
}

.project_up {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
  .project_up{
    display: block;
  }
}